		<div class="page-content">
			<h1 class="mb0">About Us</h1>
			<p>
				QODR (/koder:/) merupakan komunitas IT berbasis Pondok yang dengan nama ini diharapkan dapat mencetak Quality Muslim Coder atau coder yang berkualitas dari sisi ilmu IT dan agama. QODR bertujuan membentuk pemuda-pemuda yang berakhlak mulia, mandiri dan bermanfaat untuk umat. Berkumpul untuk belajar dan mengajar serta saling mengingatkan dalam kebaikan.
			</p>
		</div>
