		<div class="page-content">
			<h1>Contact Us</h1>
			<p>
				You can contact us using this email address <a href="mailto:info@qodr.or.id"> info@qodr.or.id</a> <br/>or on telp 089-7583-5238</p>
		</div>
